.key-container{
    width: 30%;
    max-width: 30%;
    height: 100%;
    max-height: 100%;

    border: 1px solid whitesmoke;
}

.title-key-container{
    text-align: center;
}

.key-textarea {
    width: 100%;
    resize: none;
    /* Add any additional styles you need */
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

#public-key-text {
    max-width: 90%;
}