.send-file-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  width: 40%;

  border: 1px solid whitesmoke;
}

.file-input {
  margin-bottom: 20px;
}

.file-input label {
  display: block;
  margin-bottom: 5px;
}

.file-input input[type="file"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.submit-button {
  padding: 0px 20px;
  background-color: #6c9370;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  height: 30px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #3d6141;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.textarea-container {
  margin-top: 5px;
  width: 100%;
}


.public-key-input {
  margin-bottom: 20px;
}

.public-key-input label {
  display: block;
  margin-bottom: 5px;
}

.check {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

